<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xiuminglee.vboot.modules.system.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.xiuminglee.vboot.modules.system.entity.Log">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="msg" property="msg" />
        <result column="details" property="details" />
        <result column="other" property="other" />
        <result column="createdata" property="createdata" />
    </resultMap>

</mapper>
